<div class="flex flex-col">
  <div class="overflow-x-auto">
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full">
          <thead class="border-b">
            <tr>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                User Name
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                Private
              </th>
            </tr>
          </thead>
          <tbody>
          <% @users.each do |u|%>
            <tr class="border-b">
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                <%= u.username%>
              </td>
              <% if u.private? %>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                Yes
              </td>
              <%else%>
               <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                No
              </td>
              <%end%>
            </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
